# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
dist/
__pycache__/
# Other files and folders
.settings/
klego.egg-info
dist/

A.py
B.py

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
